
.wrap>.nav:first-child+.nav+.nav{
    background: url(../img/新手指引IMG1/nav.jpg) -397px -130px no-repeat;
}
.wrap>.nav:first-child{
    background: url(../img/新手指引IMG1/nav.jpg) 0px -3px no-repeat;
}
.top>.right{
    width: 533px;
    float: right;
}
.title>span{
    background: #00a887;
    display: inline-block;
    font-size: 12px;
    color: white;
    padding: 15px 25px;
}
.box1{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}
.box2{
    text-indent: 2em;
    margin-bottom: 10px;
}
.suggestion{
    color: red;
    margin-top: 20px;
}
.icon{
    margin-left: 32px;
    width: 20px;
    height: 20px;
    float: left;
    background: url(../img/新手指引IMG2/page.png)   -785px -80px  no-repeat;
}
.suggestion>span{
    background: red;
    color: white;
    display: inline-block;
    padding: 0px 4px;
}
.vidow{
    font-size: 0;
}
.vidow img{
     display: block;
}
.vidow>a{
    display: inline-block;
    vertical-align: middle;
    width: 168px;
    font-size: 12px;
    color: #666;
    text-align: center;
    margin-right: 15px;
    margin-top: 30px;
}