.wrap>.nav:first-child+.nav+.nav+.nav+.nav{
    background: url(../img/新手指引IMG1/nav.jpg) -795px -130px no-repeat;
}
.wrap>.nav:first-child{
    background: url(../img/新手指引IMG1/nav.jpg) 0px -3px no-repeat;
}
.top>.right{
    width: 540px;
}
.right>p,.left>p{
    margin-bottom: 30px;
}
.dowload{
    margin-left: 30px;
}
.middle>.left{
    width: 540px;
}
.box{
    width: 217px;
    text-align: center;
    float: left; 
    margin-right: 30px; 
}
.box>a{

    margin: 19px auto;
}
.social>.box:first-child+.box+.box+.box>a{
    background: url(../img/新手指引img4/weibo.jpg) center center no-repeat;
}
.bottom{
    border-bottom: 1px solid #eee;
    padding-bottom: 70px;
    margin-bottom: 70px;
}