.table{
    border-collapse: collapse;
    width: 100%;
}

.table th,.table td{
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.table-striped tr:nth-child(2n + 1){
    background: #eee;
}

.table-hover tr:hover{
    opacity: 0.6;
}

/* layUI  bootstrap  mui */


