@keyframes rotate {
    0% {
        transform: rotateZ(0deg)
    }
    100% {
        transform: rotateZ(360deg)
    }
}

@keyframes Lmove {
    0% {
        transform: translateX(0)
    }
    28% {
        transform: translateX(0)
    }
    33% {
        transform: translateX(-544px)
    }
    61% {
        transform: translateX(-544px)
    }
    66% {
        transform: translateX(-1088PX)
    }
    94% {
        transform: translateX(-1088PX)
    }
    100% {
        transform: translateX(-1632px)
    }
}

@keyframes Lmove1 {
    0% {
        transform: translateX(0)
    }
    15% {
        transform: translateX(4px)
    }
    30% {
        transform: translateX(0px)
    }
    45% {
        transform: translateX(4px)
    }
    60% {
        transform: translateX(0px)
    }
    75% {
        transform: translateX(4px)
    }
    90%{
        transform: translateX(0)
    }
    100%{
        transform: translateX(4px)
    }
}

.v-wrap {
    width: 100%;
    min-width: 1358px;
    background-color: #e3e2e2;
    padding: 64px 0 66px 0;
}

.v-content {
    width: 1358px;
    height: auto;
    margin: 0 auto;
}

.newVideo {
    color: #0b0b0b;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    height: 28px;
    padding: 0 5px;
    border-left: 2px solid #1da6ba;
    margin-right: 10px;
}

.vedioShow {
    width: 810px;
    height: 463px;
}

.title>.newVideo, .title>.nav {
    display: inline-block;
    vertical-align: top;
}


.nav>li {
    width: 40px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    float: left;
    margin-right: 40px;
    /* border-bottom: 1px solid #e3e2e2; */
}


.nav>li:first-child+li+li+li+li {
    width: 68px;
    height: 37px;
    line-height: 37px;
    text-align: center;
}

.nav>li:last-child {
    float: right;
}

.title>.nav>li:hover {
    color: #1da6ba;
}

.videoInfor {
    list-style: none;
    float: left;
    width: 193px;
    height: 185px;
    /* overflow: hidden; */
    margin: 0 7px 10px 0;
    position: relative;
}

.videoInfor>img {
    display: block;
}

.vedio-img>img {
    width: 193px;
    height: 107px;
    display: block;
}

.mask-img>img {
    width: 193px;
    height: 107px;
    /* opacity: 0.5; */
    position: absolute;
    top: 0;
    z-index: 10;
    display: none;
}

.videoInfor>a {
    display: block;
    background: url(img/index-spr.png);
    width: 52px;
    height: 52px;
    background-position: 200px 318px;
    position: absolute;
    top: 28px;
    left: 71px;
    z-index: 20;
    display: none;
}

.videoInfor>a>.play {
    background: url(img/index-spr.png);
    width: 14px;
    height: 14px;
    background-position: 183px 256px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.videoInfor>p {
    width: 155px;
    height: 37px;
    font-size: 14px;
    color: rgb(66, 66, 66);
    letter-spacing: -1px;
    margin-top: 5px;
    margin-bottom: 3px;
}

.videoInfor>span {
    font-size: 12px;
    color: rgb(145, 144, 145);
}

.videoInfor>.sp1 {
    margin-right: 20px;
}

.videoInfor:hover .mask-img>img {
    display: block;
}

.videoInfor:hover a {
    display: block;
    animation: rotate 2s 0.1s linear infinite;
}

.videoInfor:hover p {
    color: rgb(13, 160, 180);
}

.hotAlbum>.title {
    width: 544px;
}

.hotAlbum>.title>ul>li {
    width: 40px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    /* float: left; */
    margin-right: 20px;
}

.hotImg {
    width: 544px;
}

.hotImg1 {
    width: 156px;
}

.hotImg1>.img1 {
    width: 156px;
    height: 212px;
}

.hotImg1>.img2 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: block;
}

.hotImg1>p {
    font-size: 14px;
    color: #919091;
    width: 100%;
    height: 42px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
    margin-top: 10px;
}


.hotImg1>span {
    font-size: 14px;
    color: #919091;
    display: block;
}

.hotImg1>.img2, .hotImg1>span {
    display: inline-block;
    vertical-align: middle;
}

.hotImg>div {
    float: left;
    margin-right: 24px;
}

.hotImg {
    float: left;
}

.wrap1 {
    width: 2716px;
    animation: Lmove 8s linear infinite;
}

.box1 {
    width: 544px;
    overflow: hidden;
}

.bottom {
    background: url(img/index-spr.png);
    width: 506px;
    height: 36px;
    background-position: 0px 0px;
    background-position: 2px 50px;
    text-align: center;
    padding-top: 15px;
    margin-top: 10px;
    color: #ab8e66;
    display: block;
    position: relative;
}

.hotImg1>p:hover {
    color: rgb(13, 160, 180);
}

.hotImg1>span:hover {
    color: rgb(13, 160, 180);
}

.arrow {
    background: url(img/comm-spr\(2\).png);
    width: 20px;
    height: 25px;
    background-position: -360px -60px;
    position: absolute;
    top: 10px;
    left: 306px;
}

.hotAlbum>a:hover {
    background: rgba(234, 236, 227, 0.884);
}

.hotAlbum>a:hover .arrow {
    animation: Lmove1 1s ease-in;
}
.vedioShow{
float: left;
}
.hotAlbum{
    float: right;
}
.hotAlbum>.title>.nav>li{
    margin-right: 15px;
}