.header{
    width: 100%;
    height: 78px;
    overflow: visible;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    background: rgba(0,0,0,0.6);
    
}
.com-head{
    width: 100%;
    max-width: 1358px;
    min-width: 1230px;
    height: 78px;
    margin: 0 auto;
    position: relative;
    z-index: 10;
}
.logo{
    float: left;
    width: 132px;
    height: 49px;
    margin-top: 14px;
}
comm-head .logo {
    float: left;
    width: 132px;
    height: 49px;
    margin-top: 14px;
}
.head-nav{
    float: left;
    width: 55%;
    height: 78px;
    box-sizing: border-box;
    margin-left: 30px;
    padding-top: 16px;
}
.head-nav>li{
    float: left;
    list-style: none;
    width: 20%;
    height: 78px;
    text-align: center;
}
.head-nav>li>a{
    display: block;
    width: 100%;
    height: 100%;
}
.head-nav-title {
    display: block;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
}
.head-nav-subtitle {
    display: block;
    color: #aeaeae;
    font-size: 11px;
    margin-top: -1px;
    letter-spacing: 1px;
}
.header-background{
   width: 100%;
   position: relative;
   
}
.header-background>img{
    width: 100%;
    height: 360px;
}
.head-userinfo-avatar>span{
    display: block;
    background-position: -304px -84px;
    width: 48px;
    height: 48px;
    position: absolute;
    top: 0;
    left: 0;
}
.head-userinfo-avatar>img{
    display: inline-block;
    vertical-align: middle;
    width: 36px;
    height: auto;
    border-radius: 50%;
}
.head-userinfo-normal {
    float: right;
    width: 244px;
    height: 78px;
    position: relative;
    z-index: 3;
}
.head-userinfo-avatar {
    float: left;
    width: 48px;
    height: 48px;
    position: relative;
    margin-top: 14px;
    line-height: 48px;
    text-align: center;
    font-size: 0;
}
.head-userinfo-brief {
    float: left;
    margin-left: 10px;
}
.head-userinfo-bridf>p{
    color: #fefefe;
    font-size: 16px;
    line-height: 78px;
    text-indent: 1em;
}
.head-userinfo-bridf>p>span{
    color: #fff3d0;
}
.head-app-nomol{
    width: 20px;
    height: 22px;
    background: url(img/h5.png) 48px 73px ;
    float: right;
    margin-right: 35px;
    margin-top: 28px
    
}
.head-userinfo-avatar>span{
    background: url(img/h5.png) 101px 93px;
}
.head-app-nomol1{
    width: 25px;
    height: 25px;
    background: url(img/h5.png) 26px -35px ;
    float: right;
    margin-right: 64px;
    margin-top: 25px
    
}
.head-userinfo-bridf{
    z-index: 99;
}
.black{
    width: 300px;
    height: 150px;
    background:rgba(0,0,0,0.5);
    
    padding: 50px 5px 0px;
    position: absolute;
    top: 78px;
    left: -20px;
    z-index: 1;
    display: none;
}
.head-userinfo-bridf:hover+.black{
    display: block;
}
.head-userinfo-bridf+.black:hover{
    display: block;
}
.black .p1, .black .p2 {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 0 24px;
    font-size: 12px;
    color: #848383;
    text-align: center;
}

.black .p2 {
    margin-top: 14px;
}
.black-bottom{
    display: block;
    width: 310px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    background-color: #000;
    margin-top: 20px;
    position: relative;
    left: -5px;
    bottom:-24px;
}
.head-app-hover {
    background-position: 0 0;
    width: 211px;
    height: 178px;
    position: absolute;
    top: 98px;
    right: 190px;
    display: none;
    background: rgba(0,0,0,0.5);
    background-size: 405px 178px;
    background-repeat: no-repeat;
}
.head-zm-qrcode {
    display: block;
    width: 120px;
    height: 120px;
    text-align: center;
    line-height: 117px;
    background-color: #fff;
    margin: 22px auto 0 auto;
    border-radius: 10px;
}
.head-app-hover>.p1 {
    color: #cdbe91;
    font-size: 12px;
    width: 100%;
    margin-top: 10px;
    text-align: center;
}
.head-zm-qrcode>img {
    display: inline-block;
    vertical-align: middle;
    width: 110px;
    height: 110px;
}
.head-app-hover>.polo {
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    right: -8px;
    bottom: -2px;
}
.head-app-nomol:hover>.head-app-hover{
    display: block;
}
.jianxi{
    width: 30px;
    height: 80px;
    position: relative;
    right: 10px;
    top: 0px;
}
.head-nav-sub {
    display: none;
    position: absolute;
    left: 0;
    top: 78px;
    width: 100%;
    overflow: hidden;
    background: rgba(0,0,0,0.5);
    padding: 18px 0 32px 0;
    
   
}
 .head-nav:hover+.head-nav-sub{
     display: block;
     animation: flipInX 2s linear;
     

 }
 .head-nav-sub:hover{
    display: block;
   
}
 
 .head-nav-sub:hover{
     display: inline;
 }
 .head-nav-sub ul li a:hover{
     color: #b88d35;
 }
.head-nav-sub .head-nav-sub-inner {
    width: 100%;
    max-width: 1358px;
    min-width: 1230px;
    height: auto;
    margin: 0 auto;
}
.head-nav-sub ul {
    width: 55%;
    overflow: hidden;
    margin-left: 161px;
}
.head-nav-sub ul>li {
    list-style: none;
    width: 20%;
    float: left;
    height: auto;
    overflow: visible;
}
.head-nav-sub-a {
    display: block;
    width: 100%;
    height: 29px;
    overflow: hidden;
    line-height: 29px;
    color: #e1e1e1;
    font-size: 14px;
    text-align: center;
}

.dark-mask{
    width: 100%;
    height: 130px;
    position: absolute;
    left: 0;
    top: 0;
    background: url(img/dark-jianbian-repeatx-0.png) repeat center top;
    z-index: 1;
}
.comm-topact-inner {
    width: auto;
    max-width: 1358px;
    min-width: 1230px;
    height: 100%;
    position: relative;
    margin: 0 auto;
}
.top-act-link{
    display: block;
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -77px;
    bottom: 32px;
    width: 160px;
    height: 40px;
    background: rgba(0,0,0,0.9);
    background-position: -216px -39px;
    background-image: url(img/h5.png);
    background-size: 405px 178px;
    background-repeat: no-repeat;
}
.top-version {
    position: absolute;
    z-index: 2;
    right: 122px;
    bottom: 28px;
    font-size: 14px;
    color: #888787;
}
.top-version-link {
    display: inline-block;
    padding: 0 15px;
    height: 22px;
    border: 2px solid #f5d185;
    text-align: center;
    line-height: 22px;
    background: #000;
    background: rgba(0,0,0,.65);
    font-size: 12px;
    color: #f5d185;
    -moz-border-image: -moz-linear-gradient(top,#6b5024 0,#b88d35 100%);
    -webkit-border-image: -webkit-linear-gradient(top,#6b5024 0,#b88d35 100%);
    border-image: linear-gradient(to bottom,#6b5024 0,#b88d35 100%);
    border-image-slice: 1;
}
.top-version em {
    color: #f5d185;
    margin-right: 10px;
}
.rightnav-bar {
    width: 70px;
    height: auto;
    box-sizing: border-box;
    padding-top: 6px;
    overflow: hidden;
    position: fixed;
    right: 0;
    bottom: 18%;
    background-color: #fff;
    border-radius: 9px 0 0 9px;
    z-index: 199;
}
.rightnav-bar>ul {
        margin-left: 4px;
        height: 358px;
        padding-bottom: 18px;
        box-sizing: border-box;
}
.rightnav-bar-li {
    list-style: none;
    width: 66px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 6px;
}
.rightnav-bar-li span{
    display: block;
    width: 66px;
    height: 34px;
    text-align: center;
    line-height: 35px;
}
.rightnav-bar-li i{
    background-position: -193px -99px;
    width: 18px;
    height: 22px;
    display: inline-block;
    background-image: url(img/h8.png);
    background-size: 393px 200px;
    background-repeat: no-repeat;
    
}
.rightnav-bar-li a{
    color: #92a8ab;
    font-size: 12px;
    text-align: center;
}
.li-2 i{
    background-position: -216px -99px;
    width: 18px;
    height: 22px;
}
.li-3 i{
    background-position: -247px -46px;
    width: 22px;
    height: 21px;
}
.li-4 i{
    background-position: -293px -72px;
    width: 19px;
    height: 22px;
}
.li-5 i {
    background-position: -287px -12px;
    width: 24px;
    height: 20px;
}
.li-6 i {
    background-position: -193px -12px;
    width: 33px;
    height: 29px;
}
