.wrap{
    width: 100%;
    min-width: 1230px;
    /* padding: 45px 0; */
    background-color: #e3e2e2;
    color: #9f9378;
    font-size: 12px;
    line-height: 24px;
}
.nav{
    width: 1240px;
    height: 96px;
    margin: 0 auto;
    text-align: left;
    line-height: 96px;
    font-size: 14px;
}
.menu{
    background: url(img3/page.png);
    background-position: 33px 119px;
    width: 16px;
    height: 16px;
 
}
.more{
    background: url(img3/page.png);
    background-position: 35px 104px;
    width: 16px;
    height: 16px;
 
}
.nav>a{
    color: #9a9a9a;
    font-size: 14px;
    margin-left: 20px;
    margin-right: 10px;
   
}
.nav>p{
    color: #424242;
    font-size: 14px;
   
}
.menu,.more,.nav>a,.nav>p{
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
