.wrap>.nav:first-child+.nav{
    background: url(../img/新手指引IMG1/nav.jpg) -198px -130px no-repeat;
}
.wrap>.nav:first-child{
    background: url(../img/新手指引IMG1/nav.jpg) 0px -3px no-repeat;
}

.top>.left{
    position: relative;
    top: -55px;
    left: -40px;
    font-size: 0;
    width: 600px;
    float: left;
    z-index: 80;
}
.box1,.box2{
    font-size: 14px;
    color: white;
    text-align: center;
    line-height: 41px;
    width: 180px;
    height: 42px;
    display: inline-block;
    vertical-align: midle;
    position: absolute;
    border-radius: 5px;

}
.box1{
  top: 395px;
  left: 40px;
  background: url(../img/新手指引IMG2/page.png) -347px  -0px  no-repeat;
}
.box2{
    top: 395px;
    left: 250px;
    background: url(../img/新手指引IMG2/page.png) 0px  -72px  no-repeat;
}
.right{
    position: relative;
    z-index: 90;
    float: right;
    vertical-align: left;
    width: 500px;
   
}
.right>h2{
    font-size: 30px;
    margin-bottom: 20px;
}
.right>p{
    color: #666;
    text-indent: 2em;
    margin-bottom: 20px;
}
.right>img{
    margin-left: 30px;
    
}
.licheng{
    width: 100%;
}
.a1,.a2,.a3,.a4,.a5{
    float: left;
    margin-right: 50px;
}
.info>span{
    text-align: center;
    color: white;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background: #02a787;
    border-radius: 50%;
    margin-left: 70px;
    margin-right: 10px;
}
.info>p{
    display: inline-block;
    vertical-align: middle;
    color: #666;
    text-indent: 0;
}
.top{
    padding-bottom: 30px;
    margin-bottom: 0;
    border-bottom: none;
}
h1{
    margin-bottom: 30px;
}
.tt{
    width: 70px;
    display: inline-block;
}
dd{
    margin: 0;
}
dd>p{
    text-indent: 0;
}
.p2{
    margin-left: 75px;
}
[class^=question]{
    color: #666;
}
.question{
     width: 800px;
     float: left;
}
.checked>h2{
    font-size: 30px;
    color: #333;
    margin-bottom: 20px;
}

.qq{
    margin-top: 10px;
}
.checked{
    float: left;
}
.qq>div,.qq>ul{
    display: inline-block;
    vertical-align: middle;
    color: #999;
}
.qq>ul>a{
    border-bottom: 1px dashed #999;
    color: #666;
}
.qq>ul>a:hover{
    border-bottom: 1px solid #999;
}
.qq>div{
    width: 18px;
    height: 18px;
    background: url(../img/新手指引IMG2/page.png)  -806px  -79px no-repeat;
}
h3{
    font-size: 20px;
    color: #666;
    margin-top: 20px;
    margin-bottom: 10px;
}
