a:hover{
    filter: brightness(1.1);
}
.wrap{
    width: 100%;
}
.left{
    float: left;
}
.right{
    float:right;
}
.header{
    height: 42px;
    background: url(../img/转区系统/top20190121.jpg) 0px -1px  ;

}
.juzhong{
    width: 900px;
    margin: auto;
}
.tx{
    width: 220px;
    height: 41px;
    background: url(../img/转区系统/top20190121.jpg) 0px -43px  no-repeat;
}
.game{
    width: 230px;
    height: 41px;
    background: url(../img/转区系统/top20190121.jpg) 0px -85px  no-repeat;
}
.header>.right{
    font-size: 0;
}
.right>a{
    font-size: 12px;
    color: #333;
    margin-top: 12px;
    display: inline-block;
    vertical-align: middle;
    border-right: 1px solid #333;
    padding:0 10px;
}
.right>.a1{
    padding: 3px 16px;
    border: none;
    background: url(../img/转区系统/top20190121.jpg) 0px -138px  no-repeat;
}
.content1{
    width: 100%;
    overflow: hidden;
    min-width: 1000px;
    background: url(../img/转区系统/asidebg-1.jpg) 50% 0 no-repeat ;
}
.contenta{
    position: relative;
    width: 1000px;
    margin: 0 auto;
    height: 756px;
    background: url(../img/转区系统/countbg-1.jpg) no-repeat;
}
.contenta>.box{
    text-align: center;
    color: #c2a662;
    position: absolute;
    bottom: 50px;
    left:300px;
}
.box a{
    color:#f9de9d;
}
.box>p{
    margin-top: 10px;
}
.content2{
    width: 100%;
    overflow: hidden;
    min-width: 1000px;
    background: url(../img/转区系统/asidebg-2.jpg) 50% 0 no-repeat ;
}
.contentb{
    position: relative;
    width: 1000px;
    margin: 0 auto;
    height: 1044px;
    padding-top: 40px;
    background: url(../img/转区系统/countbg-2.jpg) no-repeat;
}
.contentb>.title{
    text-align: center;
    font-size: 36px;
    margin-bottom: 44px;
    font-weight: bold;
    color: #5a91a6;
}
.first,.second,.third,.fouth{
    position: relative;
    height: 172px;
    width: 99px;
    float: left;
    margin-right: 121px;
    padding-bottom: 40px;
}
.five{
    width: 99px;
    height: 172px;
    float: right;
    padding-bottom: 40px;
}
.first{
    background: url(../img/转区系统/nav.png) no-repeat;
}
.second{
     width: 114px;
     background: url(../img/转区系统/nav.png) -215px 0px   no-repeat;
}
.second:hover{
    background: url(../img/转区系统/nav-hover.png) -215px 0px   no-repeat;
}
.third{
    background: url(../img/转区系统/nav.png) -445px 0px   no-repeat;
}
.third:hover{
    background: url(../img/转区系统/nav-hover.png) -445px 0px   no-repeat;
}
.fouth{
    background: url(../img/转区系统/nav.png) -669px 0px   no-repeat;
}
.fouth:hover{
    background: url(../img/转区系统/nav-hover.png) -669px 0px   no-repeat;
}
.five{
    background: url(../img/转区系统/nav.png) -892px 0px   no-repeat;
}
.five:hover{
    background: url(../img/转区系统/nav-hover.png) -892px 0px   no-repeat;
}
.box1{
    width: 998px;
    height: 506px;
    position: absolute;
    padding-top: 33px;
    border: 1px solid #16303a;
    top: 210px;
    display: none;
}
.first:hover{
    background: url(../img/转区系统/nav-hover.png) no-repeat;
}
.first:hover .box1{
    display: block;
}
.second:hover .box2{
    display: block;
    left: -220px;
}
.third:hover .box3{
    display: block;
    left: -455px;
}
.fouth:hover .box4{
    display: block;
    left: -675px;
}
.five:hover .box5{
    display: block;
    left: -000px;
    top: 330px;
}
 h5{
    margin: 0 auto;
    width: 235px;
    height: 56px;
    margin-bottom: 27px;
    background: url(../img/转区系统/spr-2.png) -342px -46px no-repeat;
}
 h2{
    width: 355px;
    height: 24px;
    background: url(../img/转区系统/spr-2.png) 0px -426px no-repeat;
    margin: 0 auto;
    margin-bottom: 73px;
}
.choose{
    width: 443px;
    height: 55px;
    margin: 0 auto;
    
    background: #16303a;
    position: relative;
}
.choose>p,.daqu>p{
    font-size: 22px;
    color: #5e96ac;
    text-align: center;
    float: left;
    width: 220px;
    line-height: 55px;
}
.choose>span{
    position: absolute;
    top: 21px;
    left: 188px;
   background: url(../img/转区系统/arrow.png) no-repeat;
    width: 62px;
    height: 15px;
}
.daqu{
    width: 441px;
    height: 55px;
    line-height: 55px;
    font-size: 16px;
    margin: 0 auto;
    color: #44778a;
    border: 1px solid #16303a;
}
form{
    width: 220px;
    float:left;
}
select{
    width: 162px;
    height: 38px;
    border: 1px solid #5e96ac;
    color: #fff;
    outline: none;
    background: #041a24;
    text-align: center;
    color: #5e96ac;
    padding-left: 10px;
    margin-left: 25px;
    box-sizing: border-box;
}

.sure{
    width: 125px;
    height: 41px;
    margin: 0 auto;
    margin-top: 55px;
    background: url(../img/转区系统/sp.png) 0 -557px no-repeat;
    background-repeat: no-repeat;
}
.box2,.box3,.box4,.box5{
        width: 998px;
        height: 506px;
        position: absolute;
        padding-top: 33px;
        border: 1px solid #16303a;
        top: 210px;
        display: none;  
}
.box2:hover{
    display: block;
}
.box3:hover{
    display: block;
}
.box4:hover{
    display: block;
}
.box5:hover{
    display: block;
}

.second>.box2>h5{
    background: url(../img/转区系统/spr-2.png) -240px -122px no-repeat;
}
.third>.box3>h5{
    background: url(../img/转区系统/spr-2.png) -474px -122px no-repeat;
}
.fouth>.box4>h5{
    background: url(../img/转区系统/spr-2.png) 0px -95px no-repeat;
}
.five>.box5>h5{
    background: url(../img/转区系统/spr-2.png) -576px -47px no-repeat;
}
























.footer{
    text-align: center;
    width: 100%;
    background: #1c1c1c;
    min-width: 1200px;
    padding: 20px;
}
.footer>p{
    font-size: 12px;
    color: #6e6e6e;
    margin-bottom: 5px;
}
.footer>p>a{
    font-size: 12px;
    color: #6e6e6e;
    display: inline-block;
    vertical-align: middle;
    padding: 0px 4px;
    border-left: 1px solid #6e6e6e;
}
.footer>p>a:hover{
    color: #6e6e6e;
}
